@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}
:root {
  --body-color: #ffffff;
  --main-color: #c46a2f;
  --title-color: #696969;
  --paragraph: #858585;
  --section-color: #efefef;
  --section-color2: #efefef;
  --border-color: #c3c3c3;
  --box-shadow: rgb(0 0 0 / 17%) 0px 10px 23px -5px;
}
body.dark {
  --body-color: #171918;
  --title-color: #c8c8c8;
  --paragraph: #909090;
  --section-color: #2c2e2d;
  --section-color2: #656a6e;
  --border-color: #525252;
  --box-shadow: rgb(0 0 0 / 24%) 0px 11px 23px -5px;
}
body {
  background-color: var(--body-color);
}
.App > * {
  padding: 50px 0;
}
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  /* Large */
}
@media (min-width: 1600px) {
  .container {
    width: 1370px;
  }
}
a {
  text-decoration: none;
}
h1,h2,.h3,.h4,h5,h6,li,svg,a {
  color: var(--title-color);
}
h2 {
  font-size: 22px !important;
  font-weight: 500;
}
.h3 {
  font-size: 20px !important;
}
.h4 {
  font-size: 18px !important;
}
p {
  color: var(--paragraph);
}
ul {
  list-style: none;
}
hr {
  background: var(--border-color);
  height: 2px;
  border: none;
}
.main-button {
  background: var(--main-color);
  padding: 15px 22px;
  border-radius: 7px;
  color: white;
  font-weight: 500;
  letter-spacing: 0.4px;
}
.section-title {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  max-width: 65%;
  margin-bottom: 40px;
  position: relative;
}



/*! ========== HEADER ========== */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 12px 0 !important;
  background: var(--body-color);
  box-shadow: var(--box-shadow);
  z-index: 100;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.main-logo img{
  width: 164px;
  height: 48px;
}
.header .links {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  justify-content: flex-end;
}
.header .links a {
  padding: 16px 10px;
  font-weight: 500;
  transition: 0.3s;
}
.header .darkLight {
  position: relative;
  cursor: pointer;
  display: flex;
}
.header .darkLight svg {
  font-size: 27px;
}
.header .links a:not(.main-button):hover {
  color: var(--main-color);
}
.header .links a:last-child {
  padding: 11px 19px;
  font-weight: 500;
  border-radius: 6px;
  text-transform: none;
}
.header svg.bar {
  display: none;
  cursor: pointer;
}

/*! ========== LANDING ========== */

.landing {
  margin-top: 75px;
  height: 78vh;
  overflow: hidden;
	transform-style: preserve-3d;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('/src/img/fe3VvhEdQ9CrubQeScIC5A.webp');
  clip-path: polygon(177px 0px, 102% 0, 89% 100%, 24% 94%, -36px 100%);
  clip-path: polygon(0 0px, 108% 0, 92% 100%, 44% 94%, -36px 100%);
}
.landing img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
.landing .main-holder {
  z-index: 1;
  position: relative;
  color: white;
  top: 30%;
  left: -6%;
}
.landing .main-holder::after {
  content: '';
  position: absolute;
  left: 16%;
  top: 45%;
  z-index: -1;
  box-shadow: 0 0 245px 285px #0000006b;
}
.landing .main-holder > h2 {
  font-size: 50px !important;
  font-weight: 500;
  color: white;
}
.landing .main-holder > p.p {
  color: white;
  padding: 5px;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1px;
  max-width: 538px;
  line-height: 1.5;
}
.landing .main-holder > p:first-child {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: -10px;
}
.landing .main-holder .h3 {
  color: white;
  font-size: 46px;
  font-weight: 500;
  margin: 4px 0 1px;
}


/*! ========== SERVICES ========== */

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .section-title {
  margin-top: 0;
}
.section-title::before {
  content: '';
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 30%;
  height: 3px;
  background: var(--main-color);
  transform: translateX(-50%);
}
.services .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 85%;
}
.services .head .h4 {
  font-size: 28px;
}
.services .head a {
  padding: 14px 20px;
  font-size: 15px;
  transform: translateY(-3px);
}
.services .cards {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  flex-wrap: wrap;
}
.services .card > svg {
  color: var(--title-color);
  font-size: 52px;
}
.services .card {
  width: 48%;
}
.services .card button {
  width: 100%;
  border: none;
  font-size: 17px;
  color: white;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  background: var(--section-color);
  border-radius: 5px;
  padding: 30px;
}
.services button:focus {
  background: var(--main-color);
}
.services .card button > div {
  display: flex;
  align-items: center;
  gap: 12px;
}
.services button svg {
  transition: 0.3s;
  font-size: 20px;
}
.services button div > svg {
  font-size: 28px;
}
.services button:focus > svg{
  rotate: 180deg;
}
.services button:focus > div .h3,
.services button:focus svg {
  color: white;
}
.services .card .hideHight {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
  background: var(--section-color);
}
.services .card button:focus + .hideHight {
  max-height: 1000px;
  transition: 1.2s;
  border-radius: 0 0 14px 14px;
}
.services .hideHight p {
  line-height: 1.6;
  letter-spacing: 0.5px;
  padding: 15px 24px;
}

/*! ========== SUCCESS ========== */

.success {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.success .container {
  display: flex;
  align-items: center;
  gap: 32px;
}
.success img {
  border-radius: 5px;
  min-width: 46%;
}
.success .text h2 {
  margin-bottom: 20px;
}
.success .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.success .text .card {
  background: var(--section-color);
  padding: 20px 25px;
  border-radius: 8px 10px 10px 8px;
  border-right: 4px solid var(--main-color);
}
.success .text .card .h4 {
  margin-bottom: 6px;
  color: var(--main-color);
}
.success .text .card p {
  line-height: 1.4;
  letter-spacing: 0.4px;
}

/*! ========== MISSION ========== */

.mission .container {
  display: flex;
  align-items: center;
  gap: 35px;
  background: var(--section-color);
  position: relative;
  z-index: 1;
  border-radius: 20px;
  overflow: hidden;
  padding-right: 0;
  padding-left: 0;
}
.mission .container img {
  height: 340px;
  min-width: 50%;
  object-fit: cover;
}
.mission .text {
  padding-left: 35px;
}
.mission .text h2 {
  margin: 8px 0 13px;
  border-bottom: 2px solid var(--main-color);
  width: fit-content;
  padding-bottom: 10px;
}
.mission .text p {
  letter-spacing: 0.7px;
  line-height: 1.3;
  font-size: 18px;
}
.mission .text hr {
  margin: 15px 0;
  background: var(--main-color);
}

/*! ========== BOOKING ========== */

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}
.booking .section-title {
  margin: -7px 0 50px;
}
.booking .holder {
  width: 92%;
  background: var(--section-color);
  padding-bottom: 47px;
  border-radius: 6px;
}
.booking .holder > * {
  width: 100%;
  height: 660px !important;
}

/*! ========== whyChooseUs ========== */

.whyChooseUs {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../src/img/shape-08.svg);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 17px;
  padding-top: 99px;
  padding-bottom: 100px !important;
  margin: -54px auto -77px;
  overflow: hidden;
}
.whyChooseUs .section-title {
  margin-bottom: 50px;
}
.whyChooseUs .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
  gap: 20px;
  width: 100%;
}
.whyChooseUs .card {
  background: var(--section-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 35px;
  border-radius: 26px 26px 4px 4px;
}
.whyChooseUs .card svg {
  font-size: 50px;
  color: var(--title-color);
}
.whyChooseUs .card .h4 {
  color: var(--paragraph);
  font-size: 17px;
}

/*! ========== ABOUT ========== */

.about {
  padding: 80px 0;
}
.about .container {
  display: flex;
  gap: 35px;
  background: var(--section-color);
  padding: 0;
  position: relative;
  align-items: center;
  z-index: 1;
  max-width: 72%;
  border-radius: 20px;
  overflow: hidden;
  padding-right: 28px;
}
.about img {
  height: 330px;
  min-width: 50%;
  object-fit: cover;
}
.about .info h2 {
  margin: 8px 0 13px;
  border-bottom: 2px solid var(--main-color);
  width: fit-content;
  padding-bottom: 10px;
}
.about .info p {
  letter-spacing: 0.7px;
  line-height: 1.5;
}

/*! ========== FOOTER ========== */

.footer {
  padding: 8px 10px !important;
  margin-top: 40px;
  background: var(--section-color);
}
.footer .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.footer .top .text .h3 {
  font-size: 20px;
  margin-bottom: 5px;
}
.footer .top .text p {
  font-size: 17px;
  letter-spacing: 0.5px;
}
.footer .top .main-button {
  text-transform: none;
}
.footer .middle {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--border-color);
  padding: 40px 45px 40px 0px;
}
.footer .middle .main-logo {
  display: flex;
  align-items: center;
  transform: translateX(70px) !important;
}
.footer .middle .main-logo img {
  width: 228px;
  height: 79px;
}
.footer .middle hr {
  background: var(--border-color);
}

.footer .middle .links > div:not(.title) {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer .middle .links .title {
  margin-bottom: 5px;
}
.footer .middle .h3 {
  border-bottom: 2px solid var(--main-color);
  width: fit-content;
  position: relative;
  margin-bottom: 14px;
  width: fit-content;
  padding-bottom: 10px;
}
.footer .middle .h3::before {
  content: '';
  position: absolute;
  left: 0;
  width: 130%;
  height: 2px;
  background: var(--main-color);
  bottom: -2px;
}

.footer .middle svg {
  font-size: 19px;
}

.footer .middle .contact .email {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  gap: 13px;
}
.footer .middle .contact .email .hold {
  display: flex;
  flex-direction: column;
  gap: 5px;
} 
.footer .middle .contact .email .hold a {
  text-transform: lowercase;
}
.footer .middle .contact .email > div,
.footer .middle .contact .email > a {
  display: flex;
  align-items: center;
  gap: 6px;
}
.footer .middle .contact .email > div {
  gap: 5px;
}
.footer .middle p {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  color: var(--title-color);
}
.footer .middle .main-button {
  background: #2cd46b;
  position: relative;
  width: fit-content;
  padding: 12px 13px;
  padding-right: 43px;
  cursor: pointer;
  display: flex;
  margin-top: 10px;
}
.footer .middle .main-button svg  {
  font-size: 25px;
  position: absolute;
  right: 10px;
  top: 8px;
  color: white;
}

.footer .info .holder {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 40px;
}
.footer .info .holder div .h3 {
  margin-bottom: 7px;
}
.footer .info .holder div p {
  font-size: 17px;
  letter-spacing: 0.5px;
  margin-bottom: 2px;
}

.footer .bottom {
  text-align: center;
  padding: 30px 0;
  font-weight: 400;
}










@media(max-width:1600px) {
  .about .container{
    max-width: 90%;
  }
  .about img {
    width: 52%;
  }
  .success {
    gap: 25px;
  }
}

@media(max-width:1400px) { 
  .landing .main-holder {
    left: -2%;
  }
  .whyChooseUs .cards {
    grid-template-columns: repeat(auto-fill, minmax(267px, 1fr)); 
  }
}

@media(max-width:1300px) {
  .success img {
    height: 423px;
    object-fit: cover;
  }
}

@media(max-width:1200px) {
  .landing {
    clip-path: polygon(0 0px, 108% 0, 95% 100%, 44% 95%, -36px 100%);
  }
  .landing .main-holder {
    left: -5%;
  }
  .landing .main-holder::after {
    left: 33%;
  }
  .section-title {
    font-size: 24px;
  }
  .services .cards {
    
    width: 100%;
  } 
  .services .head {
    width: 95%;
  }
  .success {
    flex-direction: column;
  }
  .success img {
    width: 85%;
  }
  .success .text {
    width: 87%;
  }
  .mission .container,
  .about .container {
    border-radius: 0;
    background: transparent;
    flex-direction: column-reverse;
  }
  .mission img,
  .about img {
    height: 430px;
    object-fit: cover;
    width: 100%;
    border-radius: 9px;
  }
  .mission .text,
  .about .info {
    background: var(--section-color);
    padding: 30px !important;
    border-radius: 7px;
  }
  .about .container,
  .mission .container {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 1100px) {
  .landing .main-holder {
      left: -1%;
  }
  .success .text,
  .success img {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .App > * {
    padding: 30px 8px;
  }
  .header {
    padding: 15px 0 !important;
  }
  .landing {
    height: 68vh;
    background-position: 77%;
    clip-path: polygon(0 0px, 108% 0, 100% 100%, 44% 97%, -36px 100%);
  }
  .landing::after {
    background: #0000006b;
  }
  .landing .main-holder {
    width: fit-content;
    left: 2%;
    top: 35%;
  }
  .landing .main-holder::after {
    box-shadow: 0 0 245px 170px #00000078;
  }
  .landing .main-holder::after {
    left: 19%;
  }
  .landing .main-holder > p {
    max-width: 618px;
  }
  .section-title {
    font-size: 21px;
    max-width: 95%;
  }
  .services .head {
    flex-direction: row;
    gap: 13px;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 190px;
  }
  .services .card button {
    text-align: left;
  }
  .services .card {
    width: 48%;
  }
  .about .container {
    padding-right: 0;
    max-width: 90%;
  }
  .footer .middle {
    flex-wrap: wrap;
    row-gap: 22px;
    column-gap: 60px;
    justify-content: flex-start;
  }
  .whyChooseUs {
    margin: -30px auto -32px;
  }
  .success {
    gap: 0;
  }
  .success .container {
    flex-direction: column;
  }
  .booking .holder {
    width: 100% !important;
  }
  .booking .holder > * {
    width: 100%;
    height: 894px !important;
  }
}

@media (max-width: 768px) {

  .header .container {
    padding-right: 25px;
  }
  .main-logo img {
    width: 160px;
    height: 43px;
  }
  .footer .middle .main-logo { 
    display: none;
  }
  .header .links {
    position: absolute;
    right: 15px;
    flex-direction: column;
    background: var(--section-color);
    padding: 10px 17px 17px;
    border-radius: 12px 12px 7px 7px;
    transition: 0.3s;
    gap: 0px;
    top: 100px;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
  }
  .header .links.active {
    top: 74px;
    opacity: 1;
    visibility: visible;
    box-shadow: var(--box-shadow);
  }
  .header .darkLight {
    flex: 1;
    justify-content: flex-end;
  }
  .header .darkLight svg {
    font-size: 29px;
  }
  .header .bar-holder svg {
    display: flex;
    font-size: 35px;
  }
  .header .bar-holder svg.close {
    transform: scaleX(1.3);
  }
  .header .links a {
    padding: 15px 27px;
    font-weight: 600;
    width: 100%;
    text-align: center;
  }
  .landing {
    margin-top: 75px;
    background-position: 65%;
  }
  .landing .main-holder {
    top: 30%;
  }
  .landing .main-holder .h3 {
    font-size: 36px;
  }
  .landing .main-holder .bottomSide {
    flex-direction: column;
    align-items: flex-start;
  }
  .mission .text, .about .info {
    padding: 30px 20px !important;
  }
  .about .container {
    gap: 25px;
    max-width: 95%;
  }
  .mission img, .about img {
    height: 265px;
  }
  .whyChooseUs .cards {
    grid-template-columns: repeat(auto-fill, minmax(162px, 1fr));
    gap: 15px;
    padding: 0 15px;
  }
  .services {
    overflow: hidden;
    padding-top: 40px;
  }
  .services .card button {
    font-size: 13px;
  }
  .services .card {
    width: 100% !important;
  }
  .whyChooseUs .card {
    padding: 25px 9px;
    text-align: center;
  }
  .whyChooseUs .card svg {
    font-size: 42px;
  }
  .whyChooseUs {
    margin: 40px auto -32px;
    padding-top: 65px;
  }
  .mission .container  {
    gap: 25px;
    padding: 13px;
  }
  .success {
    border-radius: 6px;
  }
  .success .text h2 {
    margin-bottom: 20px;
    font-size: 21px;
    max-width: 100%;
    text-align: center;
  }
  .success .text p.card {
    padding: 20px 19px;
  }
  .success img {
    height: 263px;
    object-fit: cover;
    width: 100%;
    border-radius: 6px;
  }
  .footer .top {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .services .cards {
    padding: 0 15px;
  } 
  .booking .holder {
    background: transparent;
    height: 760px !important;
  }

}



@media (max-width:400px) {
  .landing .main-holder .h3 {
    font-size: 34px;
    margin: 3px 0;
  } 
  .landing .main-holder > p {
    color: #e6e6e6; 
  }
  .landing .main-holder .bottomSide {
    flex-direction: column-reverse;
    align-items: flex-start;
    transform: translateX(10px);
  } 
  .section-title {
    font-size: 24px !important;
  }
}
